:root {
	--cor-quadrado-default: rgb(169, 169, 169);
}

body {
	background-color: rgb(60, 60, 60);
	text-align: center;
}

.quadrado {
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 120px;
	height: 120px;
	background: var(--cor-quadrado-default);
	display: inline-flex;
	font-size: 60px;
	margin: 5px;
	cursor: pointer;
	color: var(--cor-quadrado-default);
	vertical-align: middle;
	border-radius: 8px;
}

h1{
	background-color: rgb(232, 232, 232);
	width: 380px;
	margin: 20px auto;
	padding: 12px;
}

.jogador,
.vencedor {
	font-size: 30px;
	margin-top: 10px;
}

button {
	margin-top: 10px;
	width: 100px;
	height: 30px;
	background-color: var(--cor-quadrado-default);
	cursor: pointer;
	border-radius: 15px;
}
